* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

p a {
    display: inline;
    text-decoration: underline;
}

img, picture, video, iframe, svg {
    display: block;
    width: 100%;
}

svg {
    color: currentColor;
}

.Cabecera {
    width: 100%;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    padding: 45px 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.Cabecera-logo {
    font-weight: bolder;
    font-size: 22px;
}

.Cabecera-svg {
    display: none;
}

.Cabecera-menu {
    font-weight: 600;
    font-size: 15px;
    gap: 50px;
    display: flex;
    flex-flow: row nowrap;
    padding-left: 55px;
}

.Hero {
    display: flex;
    padding: 0 60px;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: start;
    margin: 30px 0 10px 0;
}

.Hero-info {
    width: 900px;
    font-size: 20px;
    font-weight: 500;
}

.Imagenes {
    width: 100%;
    min-height: 800px;
}

.Imagenes-fotos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px;
}

.CTA {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0;
}

.CTA-boton {
    all: unset;
    font-weight: 500;
    font-size: 18px;
}

.CTA-separador {
    width: 95%;
    height: 1px;
    margin-top: 50px;
    background-color: lightgray;
}

.Pie {
    width: 100%;
    min-height: 80px;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.Pie-redes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 1024px) {
    .Cabecera {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;
    }

    .Hero-info {
        font-size: 18px;
    }

    .Imagenes-fotos {
       grid-template-columns: repeat(2, 1fr);
    }

    .CTA-separador {
        width: 80%;
        margin: 50px 0 15px;
    }

   .Pie {
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 20px;
       padding-bottom: 50px;
       font-size: 14px;
    }
}

@media (max-width: 600px) {
    .Cabecera-svg {
        display: flex;
    }
    .Cabecera-main-menu {
        display: none;
    }
}

@media (max-width: 450px) {
    .Imagenes-fotos {
        grid-template-columns: repeat(1, 1fr);
     }
 }